In [3]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [4]:
houses=pd.read_csv("../Resources/thirtythree.csv")

In [31]:
houses.mean()

MSSubClass           56.851983
LotFrontage          73.754908
LotArea           10536.987252
Neighborhood         12.269122
HouseStyle            3.057365
OverallQual           6.138810
OverallCond           5.595609
YearBuilt          1971.428470
Exterior1st           8.667139
Exterior2nd          10.350567
MasVnrType            1.759207
MasVnrArea          105.366856
Foundation            1.360482
BsmtQual              2.264164
BsmtFinType1          2.728045
TotalBsmtSF        1082.552408
HeatingQC             1.522663
GrLivArea          1519.799575
BsmtFullBath          0.434844
FullBath              1.560198
BedroomAbvGr          2.867564
KitchenQual           2.334278
TotRmsAbvGrd          6.519830
Fireplaces            0.621105
FireplaceQu           3.788244
GarageType            2.451841
GarageFinish          1.271246
GarageCars            1.773371
GarageArea          475.169972
SalePrice        182507.021955
outdoorAreaSF       181.128895
dtype: float64

In [6]:
def label (df):
    df.drop(columns=['MoSold','YrSold'], inplace=True)
   
    le=LabelEncoder()
    
    label_encode = df.select_dtypes(exclude=['number']).columns.tolist()
    

    for x in label_encode:
        col = df[x]
        label = le.fit_transform(col)
        df[x]=label
    le.fit(df['Neighborhood'])
  
      
    return df

In [7]:
label(houses)

,MSSubClass,LotFrontage,LotArea,Neighborhood,HouseStyle,OverallQual,OverallCond,YearBuilt,Exterior1st,Exterior2nd,...,KitchenQual,TotRmsAbvGrd,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,GarageArea,SalePrice,outdoorAreaSF
0,60,65.0,8450,5,5,7,5,2003,11,13,...,2,8,0,5,1,1,2,548,208500,61
1,20,80.0,9600,24,2,6,8,1976,7,8,...,3,6,1,4,1,1,2,460,181500,298
2,60,68.0,11250,5,5,7,5,2001,11,13,...,2,6,1,4,1,1,2,608,223500,42
3,70,60.0,9550,6,5,7,5,1915,12,15,...,2,7,1,2,5,2,3,642,140000,307
4,60,84.0,14260,15,5,8,5,2000,11,13,...,2,9,1,4,1,1,3,836,250000,276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,60,62.0,7917,8,5,6,5,1999,11,13,...,3,7,1,4,1,1,2,460,175000,40
1408,20,85.0,13175,14,2,6,6,1978,8,10,...,3,7,2,4,1,2,2,500,210000,349
1409,70,66.0,9042,6,5,7,9,1941,4,5,...,2,9,2,2,1,1,1,252,266500,60
1410,20,68.0,9717,12,2,5,6,1950,7,8,...,2,5,0,5,1,2,1,240,142125,478
1411,20,75.0,9937,7,2,5,6,1965,5,6,...,3,6,0,5,1,0,1,276,147500,804

In [8]:
findmeans = houses.drop(columns = ['YearBuilt','FullBath','TotRmsAbvGrd','GrLivArea','TotalBsmtSF','GarageCars','GarageArea',
                                   'LotArea','Neighborhood','OverallQual','SalePrice'])

In [9]:
findmeans

,MSSubClass,LotFrontage,HouseStyle,OverallCond,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,Foundation,BsmtQual,BsmtFinType1,HeatingQC,BsmtFullBath,BedroomAbvGr,KitchenQual,Fireplaces,FireplaceQu,GarageType,GarageFinish,outdoorAreaSF
0,60,65.0,5,5,11,13,1,196.0,2,2,2,0,1,3,2,0,5,1,1,61
1,20,80.0,2,8,7,8,2,0.0,1,2,0,0,0,3,3,1,4,1,1,298
2,60,68.0,5,5,11,13,1,162.0,2,2,2,0,1,3,2,1,4,1,1,42
3,70,60.0,5,5,12,15,2,0.0,0,3,0,2,1,3,2,1,2,5,2,307
4,60,84.0,5,5,11,13,1,350.0,2,2,2,0,1,4,2,1,4,1,1,276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,60,62.0,5,5,11,13,2,0.0,2,2,5,0,0,3,3,1,4,1,1,40
1408,20,85.0,2,6,8,10,3,119.0,1,2,0,4,1,3,3,2,4,1,2,349
1409,70,66.0,5,9,4,5,2,0.0,3,3,2,0,0,4,2,2,2,1,1,60
1410,20,68.0,2,6,7,8,2,0.0,1,3,2,2,1,2,2,0,5,1,2,478
1411,20,75.0,2,6,5,6,2,0.0,1,3,1,2,1,3,3,0,5,1,0,804

In [12]:
ff = findmeans.mode()

In [22]:
ff

,MSSubClass,LotFrontage,HouseStyle,OverallCond,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,Foundation,BsmtQual,BsmtFinType1,HeatingQC,BsmtFullBath,BedroomAbvGr,KitchenQual,Fireplaces,FireplaceQu,GarageType,GarageFinish,outdoorAreaSF
0,20,90.418605,2,5,11,13,2,0.0,2,3,5,0,0,3,3,0,5,1,2,0

In [25]:
d=ff.iloc[0].tolist()

In [26]:
d + [1,2,3,4]

[20.0,
 90.4186046511628,
 2.0,
 5.0,
 11.0,
 13.0,
 2.0,
 0.0,
 2.0,
 3.0,
 5.0,
 0.0,
 0.0,
 3.0,
 3.0,
 0.0,
 5.0,
 1.0,
 2.0,
 0.0,
 1,
 2,
 3,
 4]

In [21]:
houses_modes.to_csv("../Resources/df_predictor")

ModuleNotFoundError: No module named 'sqlalchemy'